/*.log
/target
/*-init.clj
/resources/public/js/compiled
out
/figwheel_server.log
/.idea/
/.nrepl-port
/clojurescript-ethereum-example.iml
/truffle/build
/resources/public/contracts/build
/resources/public/css
/.lein-repl-history
/log/figwheel.log
/src/clj/childrensfutures_trade/sandbox/play_with_redis.clj
/resources/public/index.html
