@import (inline) "cljsjs/react-flexbox-grid/production/react-flexbox-grid.min.inc.css";

//
// colors
//
@green-200: #A5D6A7;
@lime-200: #E6EE9C;

//
// pulse event bkg color
//
.pulse-event-bkg-color(@color) {
  background-color: @color !important;

  &:hover {
    background-color: darken(@color, 10%) !important;
  }
}

.goal-stage-color(@color) {
  background-color: @color !important;

  &:hover {
    background-color: darken(@color, 10%) !important;
  }
}

a {
    color: #ff4081;
    text-decoration: none;
}

a.no-decor {
    color: inherit !important;
}

a:hover {
  text-decoration: underline;
}

a.no-decor:hover {
  text-decoration: none;
}

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
    background-color: #efefef;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: rgba(0,0,0,.87);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

body {
  font-size: 15px;
  line-height: 24px;
}

strong, b {
    font-weight: 500;
}

.pulse-event {
  margin-bottom: 2px !important;
}
.pulse-goal-added {
  .pulse-event-bkg-color(@green-200);
}

.pulse-investment-placed {
  .pulse-event-bkg-color(@lime-200);
}

.goal-stage-created {
  .pulse-event-bkg-color(@green-200);
}
